<section data-aos="slide-left" data-aos-duration="800" data-aos-offset="0" data-aos-delay="550" class="py-5">
  <div class="intro-section text-center text-light p-5">
    <h1>Développeur Full Stack & 3D</h1>
    <p class="lead mt-3">Recherche d'emploi / alternance Bac +5</p>
  </div>
  <div class="container text-center py-5" style="margin-right: 0px;margin-left: 0px;width: auto;max-width: 100%;padding-right: 0px;padding-left: 0px;">
    <div class="row" style="width: auto;margin-right: 0px;margin-left: 0px;">
      <div class="col-xl-6"></div>
      <div class="col" style="margin-right: 0;width: auto;padding: 0px;max-width: none;">
        <div class="card card-intro" style="background: rgba(0,0,0,0.36);margin-right: 0px;width: auto;transition: ease-in;max-width: none;padding-right: 0px;filter: contrast(100%);border-top-right-radius: 0;border-bottom-right-radius: 0;">
          <div class="card-body" style="margin-left: 100px;margin-right: 0px;padding: 19px;width: auto;padding-bottom: 19px;padding-right: 200px;">
            <h4 class="card-title" style="text-align: center;font-size: 32px;font-weight: bold;margin-bottom: 22px;"><br>Salut, moi c'est Lucas !</h4>
            <p class="card-text" style="--bs-body-font-size: 1rem;font-size: 28px;"><br>Développeur passionné par le web, la data et la 3D, j'adore créer des expériences interactives et visuelles. Que ce soit en full stack, en analyse de données ou en intégration 3D avec Three.js, je suis toujours en train d'explorer de nouvelles idées et technologies.<br><br></p>
          </div>
        </div>
      </div>
    </div><a href="#"> </a>
  </div>
</section>
