<section class="py-5">
    <div class="full-height-section-intro">
      <div class="intro-section text-center text-light p-5">
        <h1>Développeur Full Stack & 3D</h1>
        <p class="lead mt-3">Recherche d'emploi / alternance Bac +5</p>
      </div>
    </div>
  
    <div class="full-height-section">
      <div class="container text-center py-5 container-fluid-no-padding">
        <div class="row row-no-margin">
          <div class="col-xl-6"></div>
          <div class="col col-no-padding">
            <div class="card card-intro">
              <div class="card-body card-body-custom">
                <h3 class="card-title card-title-custom"><br>Salut, moi c'est Lucas !</h3>
                <p class="card-text card-text-custom"><br>Développeur passionné par le web, la data et la 3D, j'adore créer des expériences interactives et visuelles. Que ce soit en full stack, en analyse de données ou en intégration 3D avec Three.js, je suis toujours en train d'explorer de nouvelles idées et technologies.<br><br></p>
              </div>
            </div>
          </div>
        </div><a href="#" aria-label="Voir plus"></a>
      </div>
    </div>

</section>
